
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRecipeLabel">Create or edit a Recipe</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.recipe.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.recipe.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.recipe.name"
                    required ng-minlength="0" ng-maxlength="128" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength">
                    This field cannot be longer than 128 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.recipe.description"
                    required ng-maxlength="2048" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ingredients">Ingredients</label>
            <input type="text" class="form-control" name="ingredients" id="field_ingredients"
                    ng-model="vm.recipe.ingredients"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_categories">Categories</label>
            <input type="text" class="form-control" name="categories" id="field_categories"
                    ng-model="vm.recipe.categories"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="vm.recipe.source"
                    required />
            <div ng-show="editForm.source.$invalid">
                <p class="help-block"
                    ng-show="editForm.source.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.recipe.url"
                    required />
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
